.loginContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 100%;

  padding-left: 30px;
  padding-right: 30px;

  .upper {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: end;
    align-items: center;

    .logo {
      img {
        height: 96px;
      }
      padding-bottom: 36px;
    }
  }

  .lower {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    .lowerInner {
      display: flex;
      flex-direction: column;

      justify-content: start;
      align-items: center;

      padding-top: 24px;

      gap: 20px;

      .input {
        font-size: 24px;
        font-weight: bold;
        width: 100%;
      }
    }
  }
}
