.uploadModeSelectScene {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  .buttonContainer {
    padding-bottom: 20%;
  }

  .uploadButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .uploadPreview {
    width: 100%;
    height: 240px;
    background-color: $que-black;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .uploadIcon > svg {
    width: 240px;
    height: 240px;
  }

  .uploadText {
    font-size: 24px;
    font-weight: bold;
  }

  .uploadVideoName {
    margin-top: 8px;
    font-size: 16px;
  }
}
