.button {
  color: $que-black;
  border: 2px solid $que-black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;

  &:not(.disabled):active {
    background-color: $que-black;
    color: $que-white;
  }

  &.disabled {
    opacity: 0.3;
  }

  &:not(.disabled).primary {
    background: linear-gradient(
      -115deg,
      $que-gardient-primary 0%,
      $que-gradient-secondary 100%
    );
    border: none;
    color: white;
  }
}
