.cardHead {
  position: relative;
}

.overlay {
  .time {
    position: absolute;

    background-color: #000000;
    color: #ffffff;

    bottom: 8px;
    right: 8px;

    font-size: 8px;
    padding: 2px 3px;
  }
}

.thumbnail {
  display: block;
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
