.cardHead {
  position: relative;
}

.overlay {
  .time {
    position: absolute;

    background-color: #000000;
    color: #ffffff;

    bottom: 8px;
    right: 8px;

    font-size: 8px;
    padding: 2px 3px;
  }
}

.thumbnail {
  display: block;
  width: 100%;
  height: 100%;
}

.info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;

  height: 40px;

  .infoMainLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }

  .profile {
    width: 24px;
    height: 24px;
    z-index: 2;
  }

  .infoCenter {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    padding: 0 12px;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .title {
      font-size: 12px;
    }

    .nickname {
      font-size: 8px;
      z-index: 2;
      width: fit-content;
    }
  }
}
