DATABASE_URL="prisma+postgres://localhost:51213/"

# 인증 메일 발송 관련 정보
MAIL_USER=""
MAIL_PASS=""

# 레디스 접속 정보
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

# JWT 토큰 키
JWT_SECRET_KEY=

# 프론트 페이지 URL
WWW_HOST=http://localhost:5173/

# 쿠키 시크릿 키
COOKIE_SECRET_KEY=the_secret_that_you_might_think_this_is_for_the_real_service