.signupContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding-left: 30px;
  padding-right: 30px;

  .upper {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: end;
    align-items: center;

    .logo {
      img {
        height: 96px;
      }
    }

    .label {
      font-size: 36px;
      font-weight: bold;
    }
  }

  .lower {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    .input {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
