.signupContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 100%;

  padding-left: 30px;
  padding-right: 30px;

  .upper {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: end;
    align-items: center;

    .logo {
      img {
        height: 96px;
      }
    }

    .label {
      font-size: 36px;
      font-weight: bold;
    }
  }

  .lower {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    .lowerInner {
      display: flex;
      flex-direction: column;

      justify-content: start;
      align-items: center;

      padding-top: 80px;

      gap: 20px;

      .input {
        font-size: 24px;
        font-weight: bold;
        width: 100%;
      }

      .timer {
        margin-top: -12px;
        font-size: 12px;
        align-self: flex-end;
      }
    }
  }
}

.passwordSceneContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 72px;

  gap: 16px;

  .input {
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
  }

  .email {
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    border-bottom: 2px solid black;
  }
}
