.gnb {
  position: sticky;
  top: 0;
  height: 56px;
  border-bottom: 1px solid #e5e5e5; // 임시색

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .gnbLeft {
    display: flex;
    align-items: center;

    margin-left: 16px;

    height: 100%;
    flex: 1;
    .logo {
      height: 50%;
      img {
        height: 100%;
      }
    }
  }

  .gnbRight {
    display: flex;
    gap: 16px;
    margin-right: 16px;

    .button {
      display: flex;
    }

    svg {
      color: black;
    }
  }
}

.fnbContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 56px;
  width: 100%;

  display: flex;
  justify-content: center;
  .fnb {
    max-width: 720px;
    width: 100%;
    border-top: 1px solid #e5e5e5; // 임시색
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    svg {
      color: black;
    }
  }
}
