<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944223797321-btlbg3kqav2uicn03cpc0qvea1f0fq6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944223797321-btlbg3kqav2uicn03cpc0qvea1f0fq6j</string>
	<key>API_KEY</key>
	<string>AIzaSyDXI6uOW7tFMD3puqMzEWF_W9Ue_Q5BxR0</string>
	<key>GCM_SENDER_ID</key>
	<string>944223797321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.que.que-ios-client</string>
	<key>PROJECT_ID</key>
	<string>que-backend-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>que-backend-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944223797321:ios:a034bbe9ad627dd5a83f98</string>
</dict>
</plist>