.introRoot {
  display: flex;
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow-y: hidden;

  flex-direction: column;
  justify-content: end;

  .introBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .introOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #00000033 0%, black 75%);
  }

  .introContainer {
    position: relative;
    z-index: 10;
    color: $que-white;
    height: fit-content;

    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 48px;

    .logo {
      height: 80px;
      img {
        height: 80px;
      }
    }

    .buttonGroup {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .catchPhrase {
      font-size: 36px;
      font-weight: bold;
    }
    .loginPhrase {
      font-size: 12px;
      font-weight: bold;

      a {
        color: $que-gardient-primary;
      }
    }
  }
}
