.introRoot {
  position: relative;
  width: 100%;
  height: 100%;

  & > div {
    height: 100%;
    width: 100%;
  }

  .introBackground {
    position: absolute;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .introOverlay {
    position: absolute;
    background: linear-gradient(to bottom, #00000033 0%, black 75%);
  }

  .introContainer {
    position: absolute;
    z-index: 10;
    div {
      color: white;
    }
  }
}
