.graph {
  --studio-score-graph-guide-color: rgba(0, 0, 0, 0.12);
  --studio-score-graph-axis-color: rgba(0, 0, 0, 0.08);
  --studio-score-graph-fill-color: rgb(0 115 245 / 35%);
  --studio-score-graph-stroke-from: #{$que-gradient-primary};
  --studio-score-graph-stroke-to: #{$que-gradient-secondary};
  --studio-score-graph-label-color: #{$que-black};

  overflow: visible;
}

.guide {
  fill: none;
  stroke: var(--studio-score-graph-guide-color);
  stroke-width: 1;
}

.axis {
  stroke: var(--studio-score-graph-axis-color);
  stroke-width: 1;
}

.scoreFill {
  fill: var(--studio-score-graph-fill-color);
  stroke: none;
}

.scoreGlow {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  opacity: 0.9;
}

.scoreStroke {
  fill: none;
  stroke-width: 2;
  stroke-linejoin: round;
}

.label {
  fill: var(--studio-score-graph-label-color);
  font-size: 20px;
  font-weight: bolder;
}
