.subGnb {
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    .tab {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-weight: bold;
      font-size: 18px;

      &.isActive::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: black;
      }
    }
  }
}
