:root {
  color-scheme: light dark;

  font-family: pretendard;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $que-white;
}

/* Reset browser default link styles */
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus,
a:focus-visible {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip-ink: none;
}

/* Keep keyboard focus visible if needed (uncomment to enable) */
/*
a:focus-visible {
  outline: 2px solid Highlight;
  outline-offset: 2px;
}
*/

p {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  overflow: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

div#root {
  position: relative;
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#appContainer {
  height: 100%;
  max-width: 720px;
  transform: translateZ(0);
  width: 100%;

  overflow: scroll;

  box-shadow: 0px 0px 50px black;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

div#appContainer::-webkit-scrollbar {
  display: none;
}

div#appContainer.mobile {
  max-width: none;
}
